body{
    background-color: #f4f4f4;
      font-family: "Inter", sans-serif;
}
.card{
    background-color: white;
    img{
        height: 12.5rem;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }
}

.card-list{
    .card{
        min-width: 20rem;
        max-width: 20rem;
        position: relative;
        overflow: hidden;
        border-bottom: 10px solid #ff7c00;
        &:after{
            content: "";
            position: absolute;
            height: 35%;
            width: 100%;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            background-color: red;
            z-index: 0;
            left: 0;
            top: 0;
            background-color: #ff7c00;
        }
    }
}

.card-info{
    .text-center{
        border-bottom: 1px solid #ddd;
    }
}

.text-1{
    font-size: 2rem;
}
.text-3{
    font-size: 1.5625rem;
}
.text-6{
    font-size: 14px;
}
.item-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    @media(min-width:1240px){
        max-width: 1240px !important ;
    }
    padding: 0 15px;
}

.icon-md{
    svg{
        width: 2rem;
        height: 2rem;
        color: gold;
    }
}
.icon-circle{
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

table{
    text-align: left;
    td,th{
        border: 1px solid gray;
        padding: 10px;
    }

}

.table-header{
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
}